#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  display: flex;
  width: 220px;
}

#flag-count {
  width: 50%;
  text-align: center;
}

#timer {
  width: 50%;
  text-align: center;
}

#board {
  display: flex;
  width: 220px;
  height: 220px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  border: solid grey 1px;
}

.explored {
  background: grey;
}

.bomb {
  background: red;
  border: solid red 1px;
}
.flag {
  background: green;
  border: solid green 1px;
}
