#board {
  display: flex;
  width: 190px;
  height: 190px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  border: solid grey 1px;
}

.explored {
  background: grey;
}

.bomb {
  background: red;
}
.flag {
  background: green;
}
