#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  display: flex;
  width: 220px;
  padding: 5px 0px 5px 0px;
}

#flag-count {
  width: 50%;
  text-align: center;
}

#timer {
  width: 50%;
  text-align: center;
}

#board {
  display: flex;
  width: 220px;
  height: 220px;
}

#status {
  display: flex;
  width: 220px;
  padding: 5px 0px 5px 0px;
  justify-content: space-around;
  align-items: center;
}

#restart-button {
  border: 0px;
  background: #78909C;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 5px 3px 5px;
  cursor: pointer;
}

#restart-button:hover {
  background: #546E7A;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  border: solid grey 1px;
  cursor: pointer;
}

.tile:hover {
  background: lightgrey;
}

.explored {
  background: grey;
}

.explored:hover {
  background: grey;
}

.bomb {
  background: red;
  border: solid red 1px;
}

.bomb:hover {
  background: red;
}

.flag {
  background: green;
  border: solid green 1px;
}

.flag:hover {
  background: green;
}
